.container {
  display: flex;
  flex-direction: column;
  gap: var(--dms-gap);
}

.menu {
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  gap: var(--dms-gap) var(--dms-gap);
  border-bottom: 1px solid var(--dms-highlight-dark);
  padding: var(--dms-padding-sm) var(--dms-padding-sm) var(--dms-padding)
    var(--dms-padding-sm);

  background: var(--dms-bg-dark);
  transition: 200ms ease-in-out;
}

.menu button {
  cursor: pointer;
  background: none;
  border: none;
  color: var(--dms-text);
  border-radius: var(--dms-border-radius);
  padding: var(--dms-padding-sm);
  border: 1px solid var(--dms-card);
  min-width: 25px;
  transition: 200ms ease-in-out;
}

.menu button:hover {
  background: var(--dms-text);
  color: var(--dms-bg-dark);
}

.section {
  display: flex;
  gap: var(--dms-gap-sm);
}

.icon svg {
  width: 12px;
  fill: white;
  transition: 200ms ease-in-out;
}

.icon:hover svg {
  fill: var(--dms-bg-dark);
}
