.container {
  display: flex;
  flex-direction: column;
  gap: var(--dms-gap-sm);
  justify-content: space-between;
  cursor: pointer;
  border: 1px solid var(--dms-card-dark);
  padding: var(--dms-padding-sm);
  border-radius: var(--dms-border-radius);
  height: 100%;
  overflow: hidden;
}

.container img,
.container video {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.label {
  font-size: var(--dms-font-size-sm);
  color: var(--dms-text);
  text-align: center;
}
