.container {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0 var(--dms-padding-sm);
  gap: var(--dms-gap-sm);
  align-items: center;
}

.input {
  padding: 5px;
  min-width: 30px;
  transition: 200ms ease-in-out;
}

.input[disabled] {
  border: 1px solid transparent;
  background: none;
  border-radius: 0;
}

.input[data-size='small'] {
  font-size: var(--dms-font-size-sm);
}

.input[data-size='medium'] {
  font-size: var(--dms-font-size-md);
}

.input[data-size='large'] {
  font-size: var(--dms-font-size-lg);
}

.icon {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}
