.title {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--dms-gap-sm);
  padding: var(--dms-padding-small) var(--dms-padding-small) var(--dms-padding);
  align-items: center;
  position: sticky;
  top: 0;
  background: var(--dms-bg);
}

.container {
  display: grid;
  grid-template-columns: repeat(2, calc(50% - var(--dms-gap-sm)));
  gap: var(--dms-gap-sm);
  padding: var(--dms-padding-small);
}

.container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
