.tabs {
  display: flex;
  justify-content: center;
  gap: var(--dms-gap);
  padding-bottom: var(--dms-padding);
}

.tab {
  cursor: pointer;
  padding-bottom: var(--dms-gap-md);
  border-bottom: 2px solid transparent;
  transition: 200ms ease-in-out;
}

.tab[data-active='true'] {
  border-color: var(--dms-warning);
}

.tab::first-letter {
  text-transform: uppercase;
}
