.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr auto;
  height: 100%;
  gap: var(--dms-gap-xl);
}

.actions {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: var(--dms-gap);
}

.read {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.read h2 {
  font-size: var(--dms-font-size-lg);
  font-weight: bold;
}

.read h3 {
  font-size: 16px;
  font-weight: normal;
}

.read p {
  font-size: var(--dms-font-size);
  color: var(--dms-highlight);
}

:is(body[data-color-scheme='light']) .read p {
  color: var(--dms-highlight-dark);
}

p.account {
  font-size: var(--dms-font-size);
  font-style: italic;
  color: var(--dms-light);
}

.form {
  height: 100%;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto;
  }

  .read h2 {
    max-width: 75%;
    font-size: var(--dms-font-size-xxl);
  }

  .read h3 {
    font-weight: bold;
  }

  .actions {
    grid-template-rows: repeat(2, 1fr);
  }

  .form {
    align-self: flex-end;
  }

  .footer {
    grid-column: 1/3;
  }
}
