.container {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--dms-gap);
  align-items: center;
}

.cover {
  max-width: 100px;
}

.description {
  font-size: var(--dms-font-size-s);
}

.icon svg {
  width: 15px;
}
