.container {
  display: flex;
  flex-direction: column;
  padding: 0 var(--dms-padding-sm);
  gap: var(--dms-gap-sm);
  align-items: center;
}

.label {
  color: var(--dms-highlight);
}

.star {
  color: var(--dms-accent);
  font-size: 0.7rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding-left: 3px;
}

@media screen and (min-width: 400px) {
  .container {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}
