.container {
  padding: var(--dms-padding);
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.info {
  max-width: 600px;
  margin: auto;
  text-align: initial;
  max-height: 200px;
  overflow-y: auto;
  padding: var(--dms-padding-lg) 0;
}

.editor {
  margin-bottom: var(--dms-padding-lg);
  background: var(--dms-bg-dark);
  padding: var(--dms-padding-lg);
}
