.logo {
  font-size: 1em;
  font-weight: 600;
  text-transform: uppercase;
}

.logoLink,
.logoLink a,
.logoLink a:visited,
.logoLink a:-webkit-any-link {
  color: var(--dms-text);
  text-decoration: none;
}

.firstLetter {
  border-top: 1px solid var(--dms-text);
  color: var(--dms-warning-light);
}

.text {
  border-bottom: 1px solid var(--dms-warning-light);
}
