.container {
  font-size: var(--dms-font-size-md);
}

.grab {
  cursor: grab;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.title,
a.title {
  color: var(--dms-text);
}

.title[data-current='true'] {
  color: var(--dms-light);
}

.editor,
a.editor {
  color: var(--dms-text);
  font-style: italic;
  opacity: 0.5;
}

.grabZone {
  margin-top: var(--dms-padding-sm);
}
