.container {
  gap: var(--dms-gap);
  height: 100vh;
  overflow-y: hidden;
  padding: var(--dms-padding);
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100%;
}

.chronicles {
  max-width: 600px;
  margin: auto;
  padding-bottom: 100px;
}

.actions {
  max-width: 200px;
  margin: auto;
}

.three {
  padding: var(--dms-padding);
}
