<template id="chronicle">
    <div class="flex flex-col gap-2" kll-ctrl="chronicle">

        <div class="grid grid-cols-[auto_1fr] gap-2">
            <span data-trans="chronicle_title"></span>
            <div kll-tc="invisibleInput" kll-b="lock.lock" data-type="title" placeholder="no_title"></div>
        </div>

        <div>
            <span>Source: </span>
            <div kll-tc="invisibleInput" kll-b="lock.lock" data-type="source" placeholder="no_source"></div>
        </div>

        <div data-type="editor"></div>

        <div kll-tc="addChronicleButton" kll-b="lock.lock" kll-s-position="0" data-type="add"></div>

    </div>
</template>