<template id="header">
    <header class="flex justify-between p-2">
        <div class="font-bold"><span class="text-rc-warning border-t border-white">R</span><span
                class="border-b border-rc-warning">OADCAST</span></div>
        <div class="flex gap-2 items-center">
            <div class="flex gap-1 items-center">
                <div data-trans="kofi" class="text-xs"></div>
                <img src="/public/kofi_logo.svg" alt="Ko-fi" class="w-6 inline-block">
            </div>
            <div kll-tc="rupteur"></div>
        </div>
    </header>
</template>