.container {
  padding: var(--dms-padding) 0;
  transition: 300ms ease-in-out;
}

.container[data-visible='false'] {
  opacity: 0.2;
}

.container[data-visible='true'] {
  opacity: 1;
}

.container[data-visible='true'] :global(.chronicle-img ){
  cursor: pointer;
}

.editor {
  color: var(--dms-light);
  padding-bottom: var(--dms-padding);
  border-bottom: 1px solid var(--dms-bg-dark);
  margin-bottom: var(--dms-padding-lg);
}

.time {
  font-size: var(--dms-font-size-md);
  color: var(--dms-light);
}

.time::before {
  content: '~ ';
}

.time::after {
  content: ' min.';
}

.source {
  width: 100%;
  background: none;
  font-style: italic;
}
